################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Graduaatsproef/obj
/Graduaatsproef/bin
/Eywa.Fabric.Panopticon/pkg
/packages
