@page "/companies"
@using Eywa.HealthMonitor.Contracts.Dtos
@using Radzen
@using Radzen.Blazor
@inject CompanyService companyService
<h1 style="font-size: 24px; font-weight: 600; margin: -40px 0 10px 0; color: #46d444;">
    Companies
</h1>

@if (companies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenDataGrid Data="@companies" TItem="CompanyDto"
                    AllowPaging="true" PageSize="20"
                    RowSelect="OnRowSelect"
                    Style="cursor: pointer;"
                    AllowSorting="true">
        <Columns>
            <RadzenDataGridColumn TItem="CompanyDto" Property="ID" Title="ID" Width="150px" />
            <RadzenDataGridColumn TItem="CompanyDto" Property="Name" Title="Naam" />
            <RadzenDataGridColumn TItem="CompanyDto" Property="NumberOfSubCompanies" Title="Aantal Subcompanies" />
        </Columns>
    </RadzenDataGrid>
}

@code {
    private List<CompanyDto> companies;

    protected override async Task OnInitializedAsync()
    {
        // Fetch companies from the injected service
        companies = (await companyService.GetCompaniesAsync(CancellationToken.None))
        .OrderBy(c => c.Name)
        .ToList();
    }

    void OnRowSelect(CompanyDto company)
    {
        NavigationManager.NavigateTo($"/companies/{company.ID}");
    }
}
