@page "/companies/{Id:int}"
@using Radzen
@using Radzen.Blazor
@inject CompanyService CompanyService

@if (selectedCompany == null)
{
    <p><em>Loading...</em></p>
}
else
{
<RadzenRow Style="color: #46d444;">
    <RadzenColumn Size="1">
        <h3>ID: @selectedCompany.Id</h3>
    </RadzenColumn>
    <RadzenColumn Size="4">
        <h3>Company name: @selectedCompany.Naam</h3>
    </RadzenColumn>
</RadzenRow>



    <RadzenTabs>
        <Tabs>
        <RadzenTabsItem Text="Subcompanies" Style="color: #46d444">
            <RadzenDataGrid Data="@subcompanies" TItem="Subcompany"
                            AllowPaging="true" PageSize="5">
                <Columns>
                    <RadzenDataGridColumn TItem="Subcompany" Property="Id" Title="ID" Width="80px" />
                    <RadzenDataGridColumn TItem="Subcompany" Property="Name" Title="Name" />
                    <RadzenDataGridColumn TItem="Subcompany" Property="ParentCompany" Title="Parent Company" />
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Projects" Style="color: #46d444">
            <RadzenDataGrid Data="@projects" TItem="Project"
                            AllowPaging="true" PageSize="5">
                <Columns>
                    <RadzenDataGridColumn TItem="Project" Property="Id" Title="ID" Width="80px" />
                    <RadzenDataGridColumn TItem="Project" Property="Name" Title="Name" />
                    <RadzenDataGridColumn TItem="Project" Property="DateRange" Title="Date Range" />
                    <RadzenDataGridColumn TItem="Project" Property="IsActive" Title="Status" />
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
}

@code {
    [Parameter] public int Id { get; set; }

    private Company? selectedCompany;
    private List<Subcompany> subcompanies = new();
    private List<Project> projects = new();

    protected override async Task OnInitializedAsync()
    {
        selectedCompany = await CompanyService.GetCompanyByIdAsync(Id);
        subcompanies = await CompanyService.GetSubcompaniesForCompanyAsync(Id);
        projects = await CompanyService.GetProjectsForCompanyAsync(Id);
    }
}
